/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;
  background-size: contain;
}

.heart {
  display: inline-block;
  width: 347px;
  height: 347px !important;
  background: url('../../../static/images/21-points-logo.png') no-repeat center top;
  background-size: contain;
}
